/Alimento.class
/Cliente.class
/Comida.class
/Ejercicio.class
/Empresa.class
/Entrenador.class
/Gimnasio.class
/Historial.class
/Maquina.class
/PlanAlimentacion.class
/PlanEjercicio.class
/Rutina.class
/guiaObjetos.txt
/Main$1.class
/obj.txt
/objs.txt